.bookmarks-icon-container {
  opacity: 1;
  background-color: #c7c7c7;
}

.cal-item-container {
  position: absolute; 
  width: 100%;
  background: #c7c7c7;
  margin: 2px;
  padding: 4px; 
  border-radius: 4px; 
  font-size: 12px;
  display: flex; 
  justify-content: space-between; 
  align-items: top;
}

.cal-item-summary {
  font-size: 1em; 
  font-weight: bold; 
  color: #202124;
}

.cal-item-time {
  font-size: 1em; 
  color: #5f6368;
}
